<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1><%= title %></h1>
      <p>Here you can find all the items in the database ordered alphabetically</p>
      <% brand_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 :
      0;}) %> <% for(let brand of brand_list) {%>
      <ul>
        <li>
          <a href="<%=brand.url%>"><strong> <%= brand.name %> </strong></a>
        </li>
      </ul>
      <% } %>
    </div>
  </body>
</html>
