<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1><%= category.name %></h1>
      <% if(category_items.length > 0) { %>
      <ul>
        <% for(let category of category_items) {%>
        <li>
          <a href="<%=category.url%>"><strong> <%= category.name %> </strong></a>
          <p><%= category.description %></p>
        </li>
        <% } %>
      </ul>
      <% } else { %>
      <p>There are no items associated to this category</p>
      <% } %>
      <hr />
      <p class="delete"><a href="<%= category.url +'/delete' %>">Delete</a></p>
      <p class="update"><a href="<%= category.url +'/update' %>">Update</a></p>
    </div>
  </body>
</html>
