<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
      <% category_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ?
      1 : 0;}) %> <% let i = 0 %> <% category_list.forEach(()=>{ %>
      <ul>
        <li>
          <a href="<%=category_list[i].url%>"><strong> <%= category_list[i].name %> </strong></a>
        </li>
      </ul>
      <% i += 1 %> <%}) %>
    </div>
  </body>
</html>
