<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/sidebar'); %>
    <div class="content">
      <h1><%= item.name %></h1>
      <ul>
        <li><span class="blackBoldText">Description: </span> <%= item.description %></li>
        <li><span class="blackBoldText">Category: </span> <%= item.category.name %></li>
        <li><span class="blackBoldText">Price: </span> $<%= item.price %></li>
        <li><span class="blackBoldText">Brand: </span> <%= item.brand.name %></li>
        <li><span class="blackBoldText">Amount in Stock: </span> <%= item.amount_stock %></li>
        <li><span class="blackBoldText">SKU: </span> <%= item.sku.toUpperCase() %></li>
      </ul>
      <hr />
      <p class="delete"><a href="<%= item.url +'/delete' %>">Delete</a></p>
      <p class="update"><a href="<%= item.url +'/update' %>">Update</a></p>
    </div>
  </body>
</html>
